:root{
    --yellow : #e6ae48;
    --black  : #393939;
    --white  : white;
    --grey   : #c4c4c4;
    --grey-text: #868686;
    --grey-text2: #e7e7e7;
    --first-typo : 'Raleway', sans-serif; 
}
*{  
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
a{
    display: block;
    color:inherit;
    text-decoration: none;
}
p a{
    display: inline-flex;
}
li{
    list-style-type: none;
}
h1 , h2 , h3 , h4 , h5 , h6 , strong{
    font-size: inherit;
    font-weight: inherit;
}
img{
    width:100%;
    max-width: 100%; 
    display: block;
    object-fit: cover;
}
::selection{
    background-color: var(--yellow);
    color: var(--white);
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 100%;
    font-family: var(--first-typo);
    color: var(--black);
    background-color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

.header {
    width: 100%;
    background-color: var(--white);
    padding: 1.8em 0;
    position: relative;
  }
  .header__center {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
  }
  .header__span {
    display: none;
  }
  .header__logo {
    display: block;
    object-fit: none;
  }
  .header__ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: initial;
    align-content: initial;
  }
  @media screen and (max-width: 700px) {
    .header__ul {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: initial;
      align-content: initial;
      margin: 2em;
    }
  }
  .header__li {
    margin-left: 3.37em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    position: relative;
  }
  .header__li:hover .header__pages {
    pointer-events: visible;
    opacity: 100%;
    transition: all 0.9s ease;
  }
  @media screen and (max-width: 700px) {
    .header__li {
      margin-left: 0;
      padding: 1.5em;
      border-bottom: solid 0.01px var(--grey-text2);
    }
    .header__li.last {
      border-bottom: none;
    }
  }
  .header__pages {
    min-width: 18em;
    background-color: var(--white);
    border-top: solid 3em var(--white);
    pointer-events: none;
    opacity: 0%;
    position: absolute;
  }
  @media screen and (max-width: 700px) {
    .header__pages {
      display: none;
    }
  }
  .header__item {
    min-width: 18em;
    margin-bottom: 2em;
    padding: 0 1.8em;
  }
  .header__item.first {
    padding: 2em 1.8em 0 1.8em;
    border-top: solid 0.4em var(--yellow);
  }
  .header__a__home {
    color: var(--yellow);
  }
  .header__a:hover {
    color: var(--yellow);
    transition: all 0.5s ease;
  }
  .menu__a {
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 0.9em;
    color: var(--grey-text);
  }
  .menu__a:hover {
    color: var(--yellow);
    transition: all 0.5s ease;
  }
  @media screen and (max-width: 700px) {
    .header__nav {
      width: 100%;
      background-color: var(--white);
      top: 90px;
      left: 0;
      opacity: 0%;
      transition: all 0.7s ease;
      transform: translateY(-10%);
      pointer-events: none;
      position: absolute;
    }
    .header__nav.ver {
      display: flex;
      opacity: 97%;
      transform: translateY(0%);
      pointer-events: auto;
    }
  }
  .header__mobile {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: initial;
    align-content: initial;
    font-size: 1.5em;
    color: var(--grey-footer);
  }
  @media screen and (min-width: 700px) {
    .header__mobile {
      display: none;
    }
  }
  
  /** MAIN: PRODUCT **/
  .main {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
  }
  .main__product {
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
  }
  .main__center {
    width: 90%;
    max-width: 1100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
  }
  @media screen and (max-width: 700px) {
    .main__center {
      width: 90%;
      margin: 6em 0;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: initial;
      align-content: initial;
    }
  }
  .main__column {
    width: calc( 90% / 2 );
  }
  @media screen and (max-width: 700px) {
    .main__column {
      width: 90%;
    }
  }
  .main__img {
    width: 90%;
    display: block;
    object-fit: cover;
  }
  @media screen and (max-width: 700px) {
    .main__img {
      width: 80%;
      margin: 2em;
    }
  }
  .main__h2 {
    color: var(--grey);
    font-size: 2em;
    letter-spacing: 0.1em;
  }
  .main__line {
    width: 120px;
    height: 1.8px;
    margin: 2.5em 0;
    background-color: var(--grey);
  }
  .main__p {
    margin-bottom: 2.5em;
    color: var(--grey);
    line-height: 1.9em;
  }
  .main__a {
    max-width: 175px;
    padding: 1em 2em;
    border: solid 0.2em var(--yellow);
    background-color: transparent;
    display: flex;
    text-align: center;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    color: var(--yellow);
  }
  .main__a:hover {
    background-color: var(--yellow);
    color: var(--white);
    transition: all 0.7s ease;
  }
  .main__product2 {
    width: 100%;
    min-height: 100vh;
    background-color: var(--yellow);
    text-align: right;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
  }
  .main__center2 {
    width: 90%;
    max-width: 1100px;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
  }
  @media screen and (max-width: 700px) {
    .main__center2 {
      width: 90%;
      margin: 6em 0;
      display: flex;
      flex-flow: column-reverse nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: initial;
    }
  }
  .main__column2 {
    width: calc( 90% / 2 );
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: initial;
  }
  @media screen and (max-width: 700px) {
    .main__column2 {
      width: 90%;
    }
  }
  .main__h22 {
    color: var(--white);
    font-size: 2em;
    letter-spacing: 0.1em;
  }
  .main__p2 {
    color: var(--white);
    line-height: 1.9em;
    margin-bottom: 2.5em;
  }
  .main__line2 {
    width: 120px;
    height: 1.8px;
    margin: 2.5em 0;
    background-color: var(--white);
  }
  .main__a2 {
    max-width: 175px;
    padding: 1em 2em;
    border: solid 0.2em var(--white);
    background-color: transparent;
    display: flex;
    text-align: center;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    color: var(--white);
  }
  .main__a2:hover {
    background-color: var(--white);
    color: var(--yellow);
    transition: all 0.7s ease;
  }



  .footer {
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .footer__center {
    max-width: 400px;
    margin: 2.5em auto 0.5em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .footer__logo {
    width: 300px;
    height: 70px;
  }
  .footer__p {
    color: var(--yellow);
    font-size: 0.8em;
    font-weight: 400;
  }
  .footer__line {
    width: 120px;
    height: 1.8px;
    background-color: var(--black);
    margin: 2em auto 3em;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .footer__ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
  }
  .footer__li {
    margin: 0 8px;
    width: 30px;
    height: 30px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
  }
  .footer__li:hover {
    background-color: var(--yellow);
    transition: all 0.7s ease;
  }



@media screen and (prefers-color-scheme:dark){
    :root{
        --yellow : #e6ae48;
        --black    : white;
        --white   : #393939;
    }
}